#loginBg {
  font-family: 'Microsoft YaHei';
}
#loginBg h1 {
  width: 100%;
  text-align: center;
  color: #037049;
  font-size: 0.75rem;
  line-height: 3rem;
  box-sizing: border-box;
  height: 3.59rem;
}
.acct-wrap .old_user_login {
  width: 100%;
  height: 6rem;
  background: #fff;
  position: relative;
}
.acct-wrap .old_user_login .acct_top_show {
  width: 5.1rem;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -2.55rem;
}
.acct-wrap .old_user_login .acct_top_back {
  width: 1rem;
  height: 1rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0.7rem;
  top: 1.8rem;
  border: 1px solid #3aad36;
}
.acct-wrap .old_user_login .acct_top_back:after {
  content: '';
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-left: 1px solid #3aad36;
  border-top: 1px solid #3aad36;
  position: absolute;
  left: 0.36rem;
  top: 0.18rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
}
.acct-wrap .bg-wrap {
  height: 22.45rem;
  background-color: #f2f2f2;
  background: url("../img/login-big-bg.jpg") no-repeat bottom;
  background-size: 100%;
}
.acct-wrap .bg-wrap .login_content {
  width: 100%;
  height: 13.85rem;
  box-sizing: border-box;
}
.fm_list li {
  width: 90%;
  margin: 0 auto;
  height: 2.15rem;
  line-height: 2.15rem;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}
.field_ipt {
  font-size: 16px;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
}
.fidld_skip {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 25%;
  line-height: 1.2rem;
  font-size: 0.62rem;
  color: #3aad36;
  border: 1px solid #3aad36;
  border-radius: 0.2rem;
  padding: 0 0.8rem;
}
.set_link {
  padding: 0.5rem 0 0.2rem;
  text-align: right;
  height: 2.1rem;
  width: 90%;
  margin: 0 auto;
  font-size: 0.58rem;
  box-sizing: border-box;
  position: relative;
}
.set_link a {
  color: #3aad36;
  letter-spacing: 0.03rem;
  font-size: 0.56rem;
  margin: 0 0 0.8rem;
}
.set_link a span {
  float: right;
  line-height: 0.8rem;
  margin-right: 0.5rem;
}
.set_link a b {
  width: 0.35rem;
  height: 0.35rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0.66rem;
  border-top: 1px solid;
  border-right: 1px solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.set_link .problem_contact_service {
  float: left;
  color: #666;
  line-height: 0.8rem;
}
.set_link .problem_contact_service a {
  text-decoration: underline;
}
.btn_login,
.btn_regisiter {
  width: 80%;
  overflow: hidden;
  display: block;
  outline: none;
  text-align: center;
  font-size: 0.73rem;
  color: #fff;
  line-height: 1.58rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  border: 1px solid #3aad36;
}
.btn_login {
  margin: 0 auto 0.6rem;
  background-color: #3aad36;
}
.btn_regisiter {
  margin: 10px auto 0;
  background-color: #8a8a8a;
  opacity: 0.5;
}
